{% extends 'glavnyi/base.html' %}

{% block title %}
О НАС
{% endblock %}

{% block content %}
    <h1>О НАС</h1>
    <h2 style="color: red;">У электронных блокнотов действительно не счесть преимуществ по сравнению с традиционными бумажными. Они доступны на любых устройствах — от мобильных гаджетов до персональных компьютеров, всегда под рукой и одинаково хорошо подходят как для текстовых записей, так и для хранения голосовых заметок, фотографий и видео, составления списков дел, записи сиюминутных мыслей и свежих идей. С их помощью можно удобно упорядочивать и структурировать информацию, быстро находить нужные заметки, планировать задачи, создавать напоминания и объединять все записи в одном приложении, определиться с выбором которого поможет наша подборка таких программных решений.</h2>
{% endblock %}
